<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi musicali API boolean</title>
    
    <!-- add style -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">

    <!-- add awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

</head>
<body class="bg-black">
    <div class="wrapper">
        <div class="container mx-auto" id="app">

            <div class="header text-gray-400 text-center">
                <h1 class="text-6xl">Boolflix</h1>
            </div>
            
            <div class="header text-gray-400 text-center">
                <input type="text" v-model="searchInput" @keyup.enter="getDataAPI">
                <button @click="getDataAPI">Search</button>
            </div>

            <div class="main">

                <div class="moviesAll">
                    
                    <div class="movie" v-for="(movie, index) in media">

                        <p>{{index}}</p>
                        
                        <!-- movie -->
                        <div class="content" v-if="movie.type == 'movie'">

                            <span class="typeMedia">{{movie.type}}</span>

                            <div class="card-header">
                                <img v-if="movie.poster_path != null" :src="movie.poster_path" :alt="movie.title">
                                <img v-else src="imgNonDisponibile.png">
                            </div>
                            <div class="card-main">
                                <p>Titolo: <span>{{movie.title}}</span></p>
                                <p>Titolo originale: <span>{{movie.original_title}}</span></p>
                                <p>Lingua originale: <span>{{movie.original_language}}</span></p>
                                <p>Voto: <span>{{movie.vote_average}}</span></p>
                                <p>
                                    <span v-for="index in movie.votoStelle.voto"> <i class="fas fa-star"></i> </span><!--
                                    --><span v-if="movie.votoStelle.stellaMeta"> <i class="fas fa-star-half-alt"></i> </span><!--
                                    --><span v-for="index in movie.votoStelle.mancanti"> <i class="far fa-star"></i> </span>
                                </p>
                            </div>

                        </div>

                        <!-- serie tv -->
                        <div class="content" v-if="movie.type == 'serieTv'">

                            <span class="typeMedia">{{movie.type}}</span>

                            <div class="card-header">
                                <img v-if="movie.poster_path != null" :src="movie.poster_path" :alt="movie.title">
                                <img v-else src="imgNonDisponibile.png">
                            </div>
                            <div class="card-main">
                                <p>Titolo: <span>{{movie.title}}</span></p>
                                <p>Titolo originale: <span>{{movie.original_title}}</span></p>
                                <p>Lingua originale: <span>{{movie.original_language}}</span></p>
                                <p>Voto: <span>{{movie.vote_average}}</span></p>
                                <p>
                                    <span v-for="index in movie.votoStelle.voto"> <i class="fas fa-star"></i> </span><!--
                                    --><span v-if="movie.votoStelle.stellaMeta"> <i class="fas fa-star-half-alt"></i> </span><!--
                                    --><span v-for="index in movie.votoStelle.mancanti"> <i class="far fa-star"></i> </span>
                                </p>
                            </div>

                        </div>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>