<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dischi musicali API boolean</title>
    
    <!-- add style -->
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">

    <!-- add awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">

    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

    <!-- axios cdn -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.21.1/axios.min.js" integrity="sha512-bZS47S7sPOxkjU/4Bt0zrhEtWx0y0CRkhEp8IckzK+ltifIIE9EMIMTuT/mEzoIMewUINruDBIR/jJnbguonqQ==" crossorigin="anonymous"></script>

</head>
<body class="bg-black">
    <div class="wrapper">
        <div class="container mx-auto" id="app">

            <div class="header">
                
                <!-- left -->
                <div class="box">
                    <h1 class="logo">Boolflix</h1>
                </div>
                
                <!-- right -->
                <div class="box">
                    <input type="text" v-model="searchInput" @keyup.enter="getDataAPI" placeholder="Cerca un film o serie tv">
                        <button @click="getDataAPI">Search</button>
                    </input>
                </div>

            </div>
            
            <div class="main">

                <div class="header-main d-flex-between">
                    <div class="d-flex">
                        <p> Filtra per genere la ricerca</p>
                        <select @change="filter" v-model="selectText">
                            <option value="All">All</option>
                            <option v-for="genere in genereMediaLista" :value="genere.name">{{genere.name}}</option>
                        </select>
                    </div>
                    <div class="d-flex">
                        <p> Filtra per tipo</p>
                        <select @change="filter" v-model="selectType">
                            <option value="All">All</option>
                            <option value="serieTv">Serie tv</option>
                            <option value="movie">Movie</option>
                        </select>
                    </div>
                </div>

                <div class="mediaAll">
                    
                    <div class="movie" v-if="movie.visibility" v-for="(movie, index) in media">
                        
                        <!-- media -->
                        <div class="content">

                            <span class="typeMedia">{{movie.type}}</span>

                            <div class="boxPoster">
                                <img v-if="movie.poster_path != null" :src="movie.poster_path" :alt="movie.title">
                                <p v-else class="imgNotFound">
                                    <i class="far fa-image"></i>
                                    <span>Poster not found</span>
                                </p>
                            </div>

                            <div class="card-main">
                                <p>Titolo: 
                                    <span v-if="movie.type == 'movie'">{{movie.title}}</span>
                                    <span v-if="movie.type == 'serieTv'">{{movie.name}}</span>
                                </p>
                                <p>Titolo originale: 
                                    <span v-if="movie.type == 'movie'">{{movie.original_title}}</span>
                                    <span v-if="movie.type == 'serieTv'">{{movie.original_name}}</span>
                                </p>
                                <p>Lingua originale: <span>{{lingua(movie.original_language)}}</span></p>
                                <p>Genere: 
                                    <span v-if="movie.generi.length != 0" v-for="(genere,index) in movie.generi">
                                        {{genere}}<span v-if="index < movie.generi.length -1">,</span>
                                    </span>
                                    <span v-if="movie.generi.length == 0"> Non disponibile</span>
                                </p>
                                <p>Voto: 
                                        <span class="stelle" v-for="index in movie.votoStelle.voto"> <i class="fas fa-star"></i> </span><!--
                                        --><span class="stelle" v-if="movie.votoStelle.stellaMeta"> <i class="fas fa-star-half-alt"></i> </span><!--
                                        --><span class="stelle" v-for="index in movie.votoStelle.mancanti"> <i class="far fa-star"></i> </span>
                                </p>
                                <p>Trama: 
                                    <span v-if="movie.overview != '' ">{{movie.overview}}</span>
                                    <span v-else>Non disponibile</span>
                                </p>
                            </div>

                        </div>
                        
                    </div>

                </div>

            </div>
        </div>
    </div>

    <script src="app.js"></script>
</body>
</html>