*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.wrapper{
    color: rgba(255, 255, 255, 0.6);
}

.container{
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    text-align: center;
    margin-bottom: 2rem;
}

.moviesAll{
    display: flex;
    display: -webkit-flex;
    flex-flow: row wrap;
    -webkit-flex-flow: row wrap;
    align-items: stretch;
    -webkit-align-items: stretch;
    justify-content: flex-start;
    -webkit-justify-content: flex-start;
    margin-top: 10px;
}

.movie{
    border: 1px solid rgba(255, 255, 255, 0.6);
    align-items: stretch;
    margin-bottom: 1rem;
    margin: 1rem;
    width: calc(33% - 4rem);

}

.content{
    padding: 1rem;
}


.movie .card-header{

    height: 250px;

    margin-left: auto;
    margin-right: auto;
    
    text-align: center;
    text-align: center;

}

.movie .card-main{
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    padding-top: 1rem;
    text-align: left;
}

.movie .card-main p{
    font-weight: bold;
}

.movie .card-main p span{
    font-weight: normal;
}

img{
    /* width: 100%; */
    max-height: 250px;
    max-width: 100%;
}

.posterNull{
    font-size: 25px;
    text-align: center;
}

.d-flex{
    display: flex;
}

.stelle li{
    letter-spacing: 2px;
}