*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.wrapper{
    color: rgba(255, 255, 255, 0.6);
}

.container{
    max-width: 900px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

}


.logo{
    text-transform: uppercase;
    font-size: 2rem;
    color: red;
}

.header .box input{
    font-size: 1rem;
    padding: 4px 8px;
    border-radius: 100px;
    background-color: black;
    color: white;
}

.header .box input:focus{
    outline: 0;
}

.header .box button{
    padding: 4px 8px;
    background-color: yellowgreen;
    border-radius: 10px;
    font-weight: bold;
}

.mediaAll{
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    min-height: 250px;
}

.movie{
    width: calc(25% - 20px);
    position: relative;
    margin: 10px;
    background-color: #232323;
    /* border: 1px solid white; */
}

.boxPoster{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    text-align: center;
}

.boxPoster p{
    font-size: 21px;
}

.boxPoster i{
    display: block;
    padding-bottom: 1rem;
    font-size: 45px;
}

.card-main{
    display: none;
    opacity: 0;
    transition: all 4s linear;
    font-size: 1rem;
}

.card-main p{
    font-weight: bold;
    padding: 4px 0;
    word-wrap: break-word;
}

.card-main p span{
    font-weight: normal;
}

.movie:hover .card-main{
    position: absolute;
    display: block;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 20px;
    overflow-y: auto;
    background-color: steelblue;
    min-height: 100%;
    max-height: 250px;
    width: 100%;
    opacity: 100%;
    transition: all 4s linear;
}

.imgNotFound{
    padding: 25px;
}

img{
    /* width: 100%; */
    max-height: 250px;
    max-width: 100%;
}

.linguaFlag{
    max-height: 1rem;
}

.posterNull{
    font-size: 25px;
    text-align: center;
}

.stelle{
    letter-spacing: 2px;
    color: yellow;
}

.typeMedia{
    right: 0;
    top: 0;
    position: absolute;
    padding: 6px 12px;
    background-color: darkgreen;
    text-transform: uppercase;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-weight: bold;
    color: white;
}

.save{
    left: 0;
    top: 0;
    position: absolute;
    padding: 6px 12px;
    background-color: indigo;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
    font-size: 20px;
}

.d-flex-between{
    display: flex;
    justify-content: space-between;
}
.d-flex{
    display: flex;
}